@{
    ViewData["Title"] = "Edit";
}
@model FlightManager.Models.Flights.FlightsEditViewModel

<div class="jumbotron">
    <form asp-action="CreateFlight">
        <div class="form-group">
            <input class="form-control" asp-for="LocationFrom" type="text" id="lfrom" placeholder="Take off location" value="@Model.LocationFrom">
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="LocationTo" type="text" id="lto" placeholder="Landing location" value="">
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="CapacityOfBusinessClass" type="text" id="cb" placeholder="Capacity of business class" value="@Model.LocationTo">
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="CapacityOfStandartClass" type="text" id="cs" placeholder="Capacity of business standart" value="@Model.CapacityOfBusinessClass">
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="Going" type="datetime-local" id="g" placeholder="Take off time" value="@Model.Going">
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="Return" type="datetime-local" id="r" placeholder="Landing off time" value="@Model.Return">
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="TypeOfPlane" type="text" id="t" placeholder="Plane Type" value="@Model.TypeOfPlane">
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="NameOfAviator" type="text" id="n" placeholder="Aviation Name" value="@Model.NameOfAviator">
        </div>
        <div class="form-group">
            <input class="btn btn-primary btn-lg btn-block" type="submit" id="submit" value="Edit">
        </div>
        <input type="hidden" value="@Model.Id" />
    </form>
</div>