@{
    ViewData["Title"] = "Flights";
}
@model flight_manager_2021.Models.Flights.FlightsIndexViewModel


<div class="content">
    <div class="content-header">
        <div class="content-header-item">
            From
        </div>
        <div class="content-header-item">
            To
        </div>
        <div class="content-header-item">
            Take off Time
        </div>
        <div class="content-header-item">
            Landing Time
        </div>
        <div class="content-header-item">
            Seats
        </div>
        <div class="content-header-item">
            Reserve
        </div>
    </div>

    @for (int i = 0; i < Model.Items.Length; i++)
    {
        <div class="content-hero-flight">
            <div class="content-hero-flight-item">
                @Html.DisplayFor(model => model.Items[i].LocationFrom)
            </div>
            <div class="content-hero-flight-item">
                @Html.DisplayFor(model => model.Items[i].LocationTo)
            </div>
            <div class="content-hero-flight-item">
                @Html.DisplayFor(model => model.Items[i].Going).ToString().Split(' ')
            </div>
            <div class="content-hero-flight-item">
                @Html.DisplayFor(model => model.Items[i].Return)
            </div>
            <div class="content-hero-flight-item">
                @Html.DisplayFor(model => model.Items[i].CapacityOfBusinessClass)
            </div>
            <div class="content-hero-flight-item">
                ReserveButtonhere
            </div>
        </div>
    }
</div>
